body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    /* width: 550px; */
                margin-right: 20px;
                display: flex;
                align-items: center;   
                justify-content:space-evenly;
                flex-shrink: 0;
                column-gap: 20px;
                /* flex-direction: row; */
                font-size: 30px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    color: orangered;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between; /* Distribute items evenly */
    padding: 20px;
}

.product {
    width: 300px; /* Adjust this value to control the width of each product */
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in width calculation */
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}



/* .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
   
} */
#products{
    
        column-count: 3; 
        column-gap: 20px; 
    }
    
.product img {
        display: block; 
        width: 100%; 
        margin-bottom: 20px; 
    }
    



.product img {
    /* max-width: 100%; */
    width: 200px;
    height: 200px;
   
}

#cart {
    border: 1px solid #ccc;
    padding: 20px;
    flex: 0 0 30%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}